* text=auto
*.c text
*.h text
*.s text
*.py text
*.md text
*.txt text
*.json text
*.xml text
*.uvprojx text
*.GTL text
*.GBL text
*.GTO text
*.GBO text
*.GTS text
*.GBS text
*.GTP text
*.GKO text
*.GDL text
*.GDD text
*.DRL text
*.png binary
*.docx binary
